allow untrusted_app_27 sysfs_kgsl:dir search;
allow untrusted_app_27 sysfs_kgsl:file r_file_perms;
allow untrusted_app_27 sysfs_graphics:dir search;
allow untrusted_app_27 sysfs_graphics:file r_file_perms;
get_prop(untrusted_app_27, vendor_camera_prop);
allow untrusted_app_27 adsprpcd_file:dir { getattr  search };
allow untrusted_app_27 app_data_file:file { execute  execute_no_trans };
allow untrusted_app_27 theme_prop:file { read };
allow untrusted_app_27 theme_prop:file { getattr  map  open };
allow untrusted_app_27 adbd_prop:file { getattr  map  open };
allow untrusted_app_27 apexd_prop:file { getattr  map  open };
allow untrusted_app_27 bluetooth_a2dp_offload_prop:file { getattr  map  open };
allow untrusted_app_27 bluetooth_audio_hal_prop:file { map  open };
allow untrusted_app_27 bluetooth_prop:file { getattr  map };
